[flake8]
exclude =
    investing_algorithm_framework/app/reporting/
    investing_algorithm_framework/infrastructure/database/sql_alchemy.py
    examples
    investing_algorithm_framework/services/metrics
