{
    "max_open_trades": 10,
    "currency": "euro",
    "telegram": {
        "enabled": true,
        "bot_name": "graham bot",
        "token": "xxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "chat_id": "xxxxxxxxxxxxxxxxxx"
    },
    "data_providers": {
        "fmp": {
            "enabled": true,
            "plugin": true,
            "interval": 1,
            "time_unit": "hour",
            "class_name": "FMPDataProvider"
        }
    },
    "strategies": {
        "value_investing_strategy": {
            "enabled": true,
            "plugin": true,
            "class_name": "SampleStrategy"
        }
    }
}