{
    "max_open_trades": 10,
    "currency": "euro",
    "services": {
        "telegram": {
            "enabled": true,
            "bot_name": "Sample bot",
            "token": "xxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "chat_id": "xxxxxxxxxxxxxxxxxx"
        }
    },
    "data_providers": {
        performance_mode: false:
        entries: {
            "sample_data_provider": {
                "enabled": true,
                "plugin": true,
                "interval": 1,
                "time_unit": "hour",
                "class_name": "SampleDataProvider"
            },
            "sample_data_provider_two": {
                "enabled": true,
                "plugin": true,
                "interval": 1,
                "time_unit": "hour",
                "class_name": "SampleDataProviderTwo"
            }
        }
    },
    "strategies": {
        performance_mode: false:
        entries: {
            "sample_strategy": {
                "enabled": true,
                "plugin": true,
                "class_name": "SampleStrategy"
            },
            "sample_strategy_two": {
                "enabled": true,
                "plugin": true,
                "class_name": "SampleStrategyTwo"
            }
        }
    }
}