{
    "max_open_trades": 10,
    "currency": "euro",
    "telegram": {
        "enabled": true,
        "bot_name": "graham bot",
        "token": "xxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "chat_id": "xxxxxxxx"
    },
    "tickers": ["AAPL", "MSFT", "AMZN", "GOOGL", "FB", "BABA", "BRK/A", "BRK/B"],
    "data_providers": {
        "fmp": {
            "enabled": true
        }
    }
}