wrapt==1.11.2
Flask==2.3.2
Flask-Migrate==2.6.0
Flask-Cors==3.0.9
SQLAlchemy==2.0.18
marshmallow==3.5.0
setuptools>=60.9.0
ccxt>=3.0.57
python-dateutil==2.8.2
MarkupSafe==2.1.2
dependency-injector==4.40.0
schedule==1.1.0
pandas==2.0.0