BITVAVO_API_KEY=<YOUR_BITVAVO_API_KEY>
BITVAVO_SECRET_KEY=<YOUR_BITVAVO_API_SECRET>
AZURE_STORAGE_CONNECTION_STRING=<YOUR_AZURE_STORAGE_CONNECTION_STRING>
AZURE_STORAGE_CONTAINER_NAME=<YOUR_AZURE_STORAGE_CONTAINER_NAME>